.App {
  text-align: center;
  background-color: var(--mage);
}

.form-error {
  color: red;
}

h2 {
  font: 400 40px/1.5 Trebuchet MS;

}
 
ul {

}
 
li {
  font: 200 20px/1.5 Trebuchet MS, sans-serif;
  border-bottom: 1px solid #272727;
}
 
li:last-child {

}
 
li:hover {

}

a:link, a:visited, button {
  font: 400 20px/1.5 Courier New;
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
  border: solid 1px;
  box-shadow: 0vw 1vh 5vh 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  background: linear-gradient(to bottom, var(--four) 0%,var(--two) 44%,var(--four) 100%);
}

button {
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
}

a:hover, a:active, button:hover, button:active {
  background: linear-gradient(to bottom, var(--three) 0%,var(--one) 44%,var(--three) 100%);
}
