.card-list {
  background: linear-gradient(to bottom, var(--one) 0%,var(--five) 44%,var(--one) 100%);
  text-align: center;
  border: solid 1px;
  box-shadow: 0vw 1vh 5vh 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#card-list ul {
  list-style-type: none;
  background: var(--six);
  padding: 20px;
  border: solid 1px;
  box-shadow: 0vw 1vh 5vh 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#card-list ol li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
}

#card-list ul li {
  background: linear-gradient(to bottom, var(--one) 0%,var(--six) 100%);
  margin: 5px;
  cursor: pointer;
  border: solid 1px;
  box-shadow: 0vw 1vh 5vh 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#card-list li:hover {
  background: linear-gradient(to bottom, var(--one) 0%,var(--three) 100%);
}

#card-list h2,h4 {
  margin: 0px;
}