.header-bar {
  background: linear-gradient(to bottom, var(--three) 0%,var(--five) 44%,var(--three) 100%);
  text-align: center;
  border: solid 1px;
  box-shadow: 0vw 1vh 5vh 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding-bottom: 20px;
}

.title {
  font: 400 35px/1.5 Courier New;
  background: linear-gradient(to bottom, var(--one) 0%,var(--six) 100%);
  border: solid 1px;
  box-shadow: 0vw 1vh 5vh 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.invis {
  color: transparent;
  padding-top: 0px;
  padding-bottom: 0px;
}

#header h1 {
  margin-top: 10px;
  margin-bottom: 0px;
}

#header p {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media only screen and (min-width: 640px) {
  .title {
    margin-top: 20px;
  }

  #pj img {
    margin-top: 20px;
  }
}