:root {
  --deathknight: #C41F3B; /*Red*/
  --demonhunter: #A330C9; /*Dark Magenta*/
  --druid: #FF7D0A; /*Orange*/
  --hunter: #ABD473; /*Green*/
  --mage: #40C7EB; /*Light Blue*/
  --monk: #00FF96; /*Spring Green*/
  --paladin: #F58CBA; /*Pink*/
  --priest: #FFFFFF; /*White*/
  --rogue: #FFF569; /*Yellow*/
  --shaman: #0070DE; /*Blue*/
  --warlock: #8787ED; /*Purple*/
  --warrior: #C79C6E; /*Tan*/
}

.App {
  text-align: center;
  background-color: var(--mage);
}

.grid-container {
  margin: 10px;
  max-width: 1000px;
  display: inline-grid;
  grid-template-columns: 300px 300px 300px;
  border: solid 1px;
  height: 1100px;
}

.form-error {
  color: red;
}

button {
    background-color: var(--rogue);
    color: #272727;
    text-align: center; 
    text-decoration: none;
    border-radius: 90px;
    border: 1px solid #272727;
}

button:hover, button:active {
    background-color: var(--paladin);
}
 
h2 {
  font: 400 40px/1.5 Trebuchet MS;
  margin: 0;
  padding: 0;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Trebuchet MS, sans-serif;
  border-bottom: 1px solid #272727;
}
 
li:last-child {
  border: none;
}
 
li:hover {
  background: #f6f6f6;
}

a:link, a:visited {
    max-width: 100px;
    background-color: var(--shaman);
    color: var(--priest);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center; 
    text-decoration: none;
    display: block;
    border-radius: 90px;
    border: 1px solid #272727;
}

a:hover, a:active {
    background-color: var(--paladin);
}